@model MusicLessonSchedule.Models.TeacherViewModel

@{
    ViewData["Title"] = "Add Teacher";
}

<h1>Create</h1>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Teacher!.Name" class="control-label"></label>
                <input asp-for="Teacher!.Name" class="form-control" />
                <span asp-validation-for="Teacher!.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher!.PhoneNumber" class="control-label"></label>
                <input asp-for="Teacher!.PhoneNumber" class="form-control" />
                <span asp-validation-for="Teacher!.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher!.Email" class="control-label"></label>
                <input asp-for="Teacher!.Email" class="form-control" />
                <span asp-validation-for="Teacher!.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher!.DateOfBirth" class="control-label"></label>
                <input asp-for="Teacher!.DateOfBirth" class="form-control" />
                <span asp-validation-for="Teacher!.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstrumentId"></label>
                <select asp-for="InstrumentId" class="form-select">
                    @foreach(var item in Model.Instruments!)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
