@{
    ViewData["Title"] = "Landing Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="Teachers" asp-action="Index" class="btn btn-primary">Enter</a></p>
</div>
