@model IEnumerable<MusicLessonSchedule.Models.Instrument>
@{
    ViewData["Title"] = "Instruments";
}

<h1>Instruments</h1>
<a asp-action="Create" asp-controller="Instruments">Add Instrument</a>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(Model => Model.MinAge)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelState => item.Name)</td>
                <td>@Html.DisplayFor(modelState => item.MinAge)</td>
            </tr>
        }
    </tbody>
</table>
